<div id="main">
    <div id="info">
        <h1>My profile</h1>
        <img
        id="profile-img"
        [src]="userAvatarUrl"
        class="profile-img-card"
      /> 
      <br>
      <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input #imageInput
               type="file"
               accept="image/*"
               (change)="processFile(imageInput)">
      </label>
      <br><br>
        <b>First name:</b> <input id="firstName"  [(ngModel)]="form.firstName" class="form-control" placeholder="{{user.firstName}}"><br><br>
        <b>Last name:</b> <input id="lastName"  [(ngModel)]="form.lastName" class="form-control" placeholder="{{user.lastName}}"><br><br>
        <p><b>Email:</b> {{user.email}}</p><br>
        <button class="btn btn-primary btn-block" (click)="updateProfile()">
          Update
        </button>
    </div>

    <div id="mealPlans">
      <article>
        <section>
            <h2>My Meal Plans:</h2>
            <mat-list *ngFor="let mealPlan of mealPlans">
                <!-- <hr><br> -->
                <mat-list-item >
                    <p style="float:left">{{mealPlan.date |date:'dd/MM/yyyy'}} - </p>
                    <!-- <br> -->
                    <p style="float:right">{{mealPlan.recipes.length}} recipes</p>
                </mat-list-item>
           </mat-list>
        </section>
    </article>
    </div>
    <div id="shoppingLists">
      <article>
        <section>
            <h2>My Shopping Lists:</h2>
            <mat-list *ngFor="let shoppingList of shoppingLists">
                <!-- <hr><br> -->
                <mat-list-item >
                    <p style="float:left">{{shoppingList.startDate |date:'dd/MM/yyyy'}} - {{shoppingList.endDate |date:'dd/MM/yyyy'}}; </p>
                    <!-- <br> -->
                    <p *ngIf="shoppingList.completed" style="float:right">Completed</p>
                </mat-list-item>
           </mat-list>
        </section>
    </article>
    </div>

</div>

